<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Rafael Perini" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js Simple Form</title>
    <link rel="shortcut icon" href="https://vuejs.org/images/logo.svg" />
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>
      <form v-on:submit.prevent="addItem({name: productName})">
        <p v-if="items.length === 0">There's no items.</p>
        <ul v-else>
          <li v-for="(item, index) in items" v-bind:key="index">
            {{item.name}}
          </li>
        </ul>
        <div>
          <label for="product">Product:</label>
          <input type="text" id="product" v-model="productName" />
          <div><small>{{productName}}</small></div>
          <input type="submit" value="Add" />
        </div>
      </form>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      const app = new Vue({
        el: "#app",
        data: {
          title: "Order",
          productName: "",
          items: [],
        },
        methods: {
          addItem(item) {
            this.items.push(item);
          },
        },
      });
    </script>
  </body>
</html>
